html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

nav{
  background-color: black;
  color: white;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.cartCount{
  position: absolute;
  top: 20px;
  right: 40px;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
}

.navItemMenu {
  justify-content: flex-start;
}

.navItemLogo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navItemLogin {
  justify-content: flex-end;
}

.accountLogin {
  background-color: black;
  border-radius: 20%;
  cursor: pointer;
  border: none;
}

.hamburgerMenu {
  display: flex;
  margin-right: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-color: transparent;
}

.hamburgerItems{
  display: flex;
  align-items: center;
}

.hamburgerMenu span {
  width: 2rem;
  height: 0.25rem;
  background: white;
  border-radius: 10px;
}

.menuItems{
  display: none;
}

.menuItems {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 1000;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  display: none;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.menuItems.active {
  transform: scaleY(1);
  display: flex;
  flex-direction: column;
}

.menuItem{
  margin: 10px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 0.5px solid darkgray;
}

.search{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 80px;
}

.searchInput{
  border: none;
  background-color: transparent;
}

.searchInput::placeholder{
  color: black;
}

.navLogo{
  text-align: center;
  cursor: pointer;
  font-size: 40px;
}

.loginButton{
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 20px;
  cursor: pointer;
}

.slider{
  background: url(https://cdn.pixabay.com/photo/2017/03/31/16/42/beige-2191767_960_720.jpg);
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 93%);
}

.sliderWrapper{
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.sliderItem{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.sliderImg{
  border-radius: 20px;
  margin: 75px
}

.sliderTitle{
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: black;
}

.sliderPrice{
  position: absolute;
  top: 20%;
  right: 20%;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  color: black;
}

.buyButton{
  position: absolute;
  padding: 20px;
  top: 35%;
  right: 20%;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
}

.buyButton:hover{
  background-color: whitesmoke;
  color:black;
}

.features{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;  
}

.feature{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon{
  width: 50px;
  height: 50px;
}

.featureTitle{
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc{
  color: gray;
  width: 50%;
  height: 100px;
}

.product{
  height: 100vh;
  background: url(https://cdn.pixabay.com/photo/2017/03/31/16/42/beige-2191767_960_720.jpg);
  background-size: cover;
  position: relative;
  clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
}

.payment{
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 9px 13px 6px rgba(0,0,0,0.72); 
  box-shadow: 0px 9px 13px 6px rgba(0,0,0,0.72);
  border-radius: 20px 20px 0 0;
}

.payTitle{
  font-size: 20px;
}

label{
  font-size: 14px;
  font-weight: 400;
  margin-left: 0px;
}

.payInput{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border-color: lightgray;
}

.payInput::placeholder{
  color: lightgray;
}

.cardIcons{
  display: flex;
}

.cardIcon{
  margin-right: 10px;
}

.cardInfo{
  display: flex;
  justify-content: space-between;
}

.sm{
  width: 30%;
}

.payButton{
  position: absolute;
  height: 50px;
  bottom: -50px;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 9px 13px 6px rgba(0,0,0,0.72); 
  box-shadow: 0px 9px 13px 6px rgba(0,0,0,0.72);
  border-radius: 0 0 20px 20px;
  background-color: black;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.payButton:hover{
  background-color: gray;
  color: black;
}

.close{
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  position: absolute;
  background-color: transparent;
  color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.productImg{
  width: 50%;
}

.productDetails{
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle{
  font-size: 75px;
  font-weight: 600;
  color: black;
}

.productPrice{
  color: black;
}

.productDesc{
  font-size: 24px;
  color: rgb(50, 50, 50);
}

.colors,.sizes{
  display: flex;
  margin-bottom: 20px;
}

.color{
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: lightgray;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child{
  background-color: black;
}

.size{
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.size:hover{
  color: black;
  background-color: whitesmoke;
}

.productButton{
  float: left;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  color: white;
  background-color: black;
  border-radius: 25px;
  cursor: pointer;
}

.productButton:hover{
  background-color: whitesmoke;
  color:black;
}

.gallery{
  padding: 30px;
  display: flex;
  background-color: #E3E1D9;
  text-align: center;
}

.galleryItem{
  flex: 1;
  padding: 50px;
}

.galleryImg{
  width: 100%;
  border-radius: 20px;
}

.newSeason{
  display: flex;
}

.nsItem{
  flex:1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg{
  width: 100%;
  height: 500px;
}

.nsTitle{
  font-size: 40px;
}

.nsButton{
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 20px;
}

footer{
  display: flex;
  padding-top: 50px;
  background-color: #EEEEEE;
  padding-bottom: 50px;
}

.footerLogoImg{
  padding-left: 20px;
}

.footerLeft{
  flex: 2;
  display: flex;
  justify-content: space-around;
  padding: 5%;
}

.fMenuTitle{
  font-size: 16px;
}

.fList{
  padding: 0;
  list-style: none;
}
.fListItem{
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight{
  flex: 1;
  padding: 50px;
}

.fInput{
  padding: 5px;
  width: 180px;
  border-radius: 10px;
  border-color: lightgray;
  margin-bottom: 10px;
  margin-right: 10px;
}

.fButton{
  padding: 5px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.fIcons{
  display: flex;
}

.fIcon{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.copyright{
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width:480px) {
  nav{
    padding: 20px
  }

  .search{
    display: none;
  }

  .navBottom{
    flex-direction: column;
  }

  .menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .slider{
    clip-path: none;
  }

  .sliderImg{
    width: 60%;
    margin-top: 30px;
  }

  .sliderTitle{
    display: none;
  }

  .sliderPrice{
    top: unset;
    bottom: 0;
    left: -50px;
    background-color: transparent;
    font-size: 30px;
  }

  .buyButton{
    top: unset;
    bottom: 25px;
    right: 120px;
    padding: 10px;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .features{
    flex-direction: column;
  }

  .product{
    clip-path: none;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
  }

  .productImg{
    border-radius: 20px;
    width: 60%;
  }

  .productDetails{
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle{
    font-size: 30px;
    margin-top: 30px;
  }

  .productPrice{
    margin: 0;
  }

  .gallery{
    display: none;
  }

  .newSeason{
    flex-direction: column;
  }

  .nsItem:nth-child(2){
    padding: 50px;
  }

  footer{
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
  }

  .footerLeft{
    padding: 20px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: lightgray;
    padding-bottom: 50px;
  }

}